In [59]:
import pandas as pd

In [60]:
#abrimos el archivo que ya paso por ETL
movies = pd.read_csv('data_movies.csv')

C:\Users\PERSONAL\AppData\Local\Temp\ipykernel_4676\705798078.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('data_movies.csv')

In [61]:
#Miramos una parte del archivo
movies.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,runtime,spoken_languages,status,tagline,title,vote_average,return,year,month,day
0,Toy Story Collection,30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995 / 10 / 30,...,81.0,English,Released,NaN,Toy Story,7.7,12.451801,1995.0,octubre,lunes
1,NaN,65000000.0,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995 / 12 / 15,...,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,1995.0,diciembre,viernes
2,Grumpy Old Men Collection,0.0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995 / 12 / 22,...,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,NaN,1995.0,diciembre,viernes
3,NaN,16000000.0,"Comedy, Drama, Romance",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995 / 12 / 22,...,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,5.090760,1995.0,diciembre,viernes
4,Father of the Bride Collection,0.0,Comedy,11862,en,Just when George Banks has recovered from his ...,8.387519,"Sandollar Productions, Touchstone Pictures",United States of America,1995 / 02 / 10,...,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,inf,1995.0,febrero,viernes

In [62]:
#Miramos como son los datos del archivo
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 43024 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   33585 non-null  object
 8   production_countries   39178 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       41508 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  return                 10917 non-null  float64
 18  year                   45376 non-null  float64
 19  month                  45376 non-null  object
 20  day                    45376 non-null  object
dtypes: float64(6), object(15)
memory usage: 7.3+ MB

In [63]:
#Eliminamos algunas columnas que no van a afectar a nuestro modelo y reducimos espacio de memoria
movies.drop('budget', axis=1, inplace=True)
movies.drop('revenue',axis=1, inplace=True)
movies.drop('month',axis=1, inplace=True)
movies.drop('day',axis=1, inplace=True)
movies.drop('status', axis=1, inplace=True)

In [64]:
#Miramos los datos que quedan y su espacio de memoria
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   genres                 43024 non-null  object
 2   id                     45466 non-null  object
 3   original_language      45455 non-null  object
 4   overview               44512 non-null  object
 5   popularity             45461 non-null  object
 6   production_companies   33585 non-null  object
 7   production_countries   39178 non-null  object
 8   release_date           45376 non-null  object
 9   runtime                45203 non-null  float64
 10  spoken_languages       41508 non-null  object
 11  tagline                20412 non-null  object
 12  title                  45460 non-null  object
 13  vote_average           45460 non-null  float64
 14  return                 10917 non-null  float64
 15  year                   45376 non-null  float64
dtypes: float64(4), object(12)
memory usage: 5.6+ MB

In [65]:
#Eliminamos mas columnas con finalidad de reducir espacio de memoria 
movies.drop('original_language', axis=1, inplace=True)
movies.drop('return',axis=1, inplace=True)
movies.drop('release_date',axis=1, inplace=True)
movies.drop('production_companies',axis=1, inplace=True)
movies.drop('production_countries', axis=1, inplace=True)

In [66]:
#Revisamos el espacio de memoria
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   genres                 43024 non-null  object
 2   id                     45466 non-null  object
 3   overview               44512 non-null  object
 4   popularity             45461 non-null  object
 5   runtime                45203 non-null  float64
 6   spoken_languages       41508 non-null  object
 7   tagline                20412 non-null  object
 8   title                  45460 non-null  object
 9   vote_average           45460 non-null  float64
 10  year                   45376 non-null  float64
dtypes: float64(3), object(8)
memory usage: 3.8+ MB

In [67]:
#Eliminamos mas columnas con finalidad de reducir espacio de memoria 
movies.drop('year',axis=1, inplace=True)
movies.drop('id',axis=1, inplace=True)
movies.drop('runtime',axis=1, inplace=True)
movies.drop('tagline', axis=1, inplace=True)

In [68]:
#Miramos el espacio de memoria
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   genres                 43024 non-null  object
 2   overview               44512 non-null  object
 3   popularity             45461 non-null  object
 4   spoken_languages       41508 non-null  object
 5   title                  45460 non-null  object
 6   vote_average           45460 non-null  float64
dtypes: float64(1), object(6)
memory usage: 2.4+ MB

In [69]:
#Eliminamos mas columnas con finalidad de reducir espacio de memoria 
movies.drop('vote_average',axis=1, inplace=True)
movies.drop('belongs_to_collection',axis=1, inplace=True)
movies.drop('genres',axis=1, inplace=True)

In [70]:
#Miramos el espacio de memoria
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   overview          44512 non-null  object
 1   popularity        45461 non-null  object
 2   spoken_languages  41508 non-null  object
 3   title             45460 non-null  object
dtypes: object(4)
memory usage: 1.4+ MB

In [71]:
#Eliminamos mas columnas con finalidad de reducir espacio de memoria 
movies.drop('spoken_languages',axis=1, inplace=True)

In [73]:
#Eliminamos los duplicados en el dataframe resultante
movies.drop_duplicates()

,overview,popularity,title
0,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story
1,When siblings Judy and Peter discover an encha...,17.015539,Jumanji
2,A family wedding reignites the ancient feud be...,11.7129,Grumpier Old Men
3,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale
4,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II
...,...,...,...
45461,Rising and falling between a man and woman.,0.072051,Subdue
45462,An artist struggles to finish his work while a...,0.178241,Century of Birthing
45463,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal
45464,"In a small town live two brothers, one a minis...",0.003503,Satan Triumphant
45465,50 years after decriminalisation of homosexual...,0.163015,Queerama

In [74]:
#Eliminamod los nulos 
movies.dropna()

,overview,popularity,title
0,"Led by Woody, Andy's toys live happily in his ...",21.946943,Toy Story
1,When siblings Judy and Peter discover an encha...,17.015539,Jumanji
2,A family wedding reignites the ancient feud be...,11.7129,Grumpier Old Men
3,"Cheated on, mistreated and stepped on, the wom...",3.859495,Waiting to Exhale
4,Just when George Banks has recovered from his ...,8.387519,Father of the Bride Part II
...,...,...,...
45461,Rising and falling between a man and woman.,0.072051,Subdue
45462,An artist struggles to finish his work while a...,0.178241,Century of Birthing
45463,"When one of her hits goes wrong, a professiona...",0.903007,Betrayal
45464,"In a small town live two brothers, one a minis...",0.003503,Satan Triumphant
45465,50 years after decriminalisation of homosexual...,0.163015,Queerama

In [39]:
#Miramos el espacio de memoria del dataframe resultante
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   overview    44512 non-null  object
 1   popularity  45461 non-null  object
 2   title       45460 non-null  object
dtypes: object(3)
memory usage: 1.0+ MB

In [ ]:
#Importamos las librerias para nuestro modelo de recomendacion
from sklearn.preprocessing import OrdinalEncoder
from sklearn.neighbors import NearestNeighbors

In [ ]:
# Preprocesamos de datos
movies['popularity'] = pd.to_numeric(movies['popularity'], errors='coerce')
movies['popularity'] = movies['popularity'].fillna(0)  # Rellenar valores faltantes en la columna 'popularity'

In [ ]:
# Codificar la columna 'popularity' de manera ordinal
encoder = OrdinalEncoder()
movies['popularity_encoded'] = encoder.fit_transform(movies['popularity'].values.reshape(-1, 1))

In [ ]:
# Entrenar el modelo KNN
k = 6  # Número de vecinos más cercanos a considerar (excluyendo la película de entrada)
knn_model = NearestNeighbors(n_neighbors=k, metric='euclidean')
knn_model.fit(movies[['popularity_encoded']])

In [41]:
# Función para obtener las recomendaciones de películas
def get_recommendations(movie_title):
    # Obtener el índice de la película con el título dado
    idx = movies[movies['title'] == movie_title].index[0]

    # Obtener las distancias y los índices de los vecinos más cercanos
    distances, indices = knn_model.kneighbors(movies.loc[[idx], ['popularity_encoded']])

    # Obtener los índices de las películas más similares (excluyendo la película de entrada)
    top_indices = indices.flatten()[1:k+1]

    # Obtener las películas recomendadas ordenadas por popularidad descendente
    recommendations = movies.iloc[top_indices].sort_values('popularity', ascending=False)[['title', 'overview']]

    return recommendations

In [42]:
#Revisamos que sea correcto su funcionamiento
get_recommendations('Charlie and the Chocolate Factory')

                      title                                           overview
12588              Iron Man  After being held captive in an Afghan cave, bi...
892        The Wizard of Oz  Young Dorothy finds herself in a magical world...
24720    Stonehearst Asylum  A Harvard Medical School graduate takes a posi...
0                 Toy Story  Led by Woody, Andy's toys live happily in his ...
17136  The Hangover Part II  The Hangover crew heads to Thailand for Stu's ...

In [44]:
#Guardamos el dataset que resulto y el que vamos a usar en el modelo
movies.to_csv("ml_movies.csv", index=False)